body
{
    background-color: #4fb477;
}

.box-1, .gform
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.box-1 input,.box-1 select, .gform select, .gform input
{
    border-radius: 10px;
    padding: 0.3em;
    margin-bottom: 25px;
}


.box-1 input[type=text],
.box-1 input[type=password],
.gform input[type=text],
.gform input[type=password]
{
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    outline: none;
}

.box-1 button[type=submit],
.gform button[type=submit]
{
    cursor: pointer;

    border: 1px;
    height: 40px;
    outline: none;
    color: #fff;
    font-size: 15px;
    background-color: black;

    border-radius: 15px;
    width: 100%;
}
.gform button[type=submit]:hover,
.box-1 button[type=submit]:hover
{
    background-color: yellow;
    color: black;
}


::placeholder
{
    color: black;
    padding: 45;
}

.sidebar
{
    position: relative;
    width: 19%;
    height: 90%;
    margin-top: 2.5%;

    float: left;
}

.sidebar button
{
    display: inline-block;
    cursor: pointer;

    margin-top: 15%;
    margin-left: 15%;

    width: 70%;
    height: 30px;
    font-size: 15px;

    border: 1px;
    height: 40px;
    outline: none;
    background-color: yellow;
    color: black;

    border-radius: 15px;

}

.sidebar button[type=button]
{
    margin-top: 100%
}

.sidebar img
{
    float: left;
    margin-left: 30%;
}

.sidebar button:hover
{
    color: #fff;
    background-color: black;
}


.content
{
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 2.5%;
    height: 90%;
    width: 100%;
    float: left;
}

.flex-right button, .flex-left button
{
    display: inline-block;
    height: 30px;
    font-size: 15px;
    cursor: pointer;

    border: 1px;
    height: 40px;
    outline: none;
    color: #fff;
    background-color: black;
    border-radius: 15px;
}

.flex-right button:hover, .flex-left  button:hover
{
    background-color: yellow;
    color: black;
}

.flex-right img
{
    max-height: 150px;
    max-width: 200px;
    margin-top: 2%;
    border-radius: 10px;
}

.flex-right .sbmt
{
    margin-top: 0.5em;
    width: 150px;

}

.flex-left .btn
{
}
.tbs
{
    width: 100%;
    margin-top: 5%;
    margin-left: 20px;
}

.tbs input
{
    border-radius: 5px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 45%;
    padding: 0.3em;
    margin-bottom: 25px;
    margin-left: 25px;
}

.update{
    position: absolute;
    left: 4%;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;    
    flex-direction: row;  /* make main axis vertical */

}
.flex-left{
    width: 100%;
}
.flex-right{
    margin-left: 2%; 
    width: 100%;

}